body {
    color:white;
    background:rgb(36, 36, 66);
    padding:  0px;
    margin: 0px;
    margin-bottom: 100px;

}

header {
    border-bottom: solid 2px rgb(255, 255, 255);
    padding: 20px
}

img {
    height: 200px;
}

.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}

.chamada {
    background: rgb(138, 139, 238);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}
.categoria h2 {
    color: rgb(255, 255, 255);
}